name: Java CI
on: [push]

jobs:
  maven-build:
    name: build web service
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Java version
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Maven Install
        run: mvn -B install --file pom.xml
